<form (submit)="onSubmit.emit(form.value)" [formGroup]="form">
    <h2>{{action}}</h2>
    <mat-form-field appearance="outline">
        <mat-label style="font-size: 15px; font-weight: bold;">Email</mat-label>
        <input formControlName="email"  matInput />
        <mat-error>{{getEmailError()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label style="font-size: 15px; font-weight: bold;">Lozinka</mat-label>
        <input type="password" formControlName="lozinka" matInput />
        <mat-error>Lozinka je obavezna!</mat-error>
    </mat-form-field>
    <div style="text-align: center">
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            {{action}}
        </button>

        <a mat-flat-button color="warn" routerLink="/">
            Otkazi
        </a>
        <div class="form-group form-check">
            <a [routerLink]="['/resetpassword']" style="color: black; text-decoration: none; font-weight: bold;">Zaboravili ste lozinku?</a>
        </div>
    </div>
</form>