<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cinematon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger" type="submit" >Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> </ul>
      <li class="nav-item">
        <button  routerLink="prijava"
                 class="btn btn-danger" Button>Prijava</button>
      </li>
      <li class="nav-item">
        <button routerLink="registracija"
                class="btn btn-danger" Button>Registracija</button>
      </li>

    </div>
  </div>
</nav> -->

<app-menu></app-menu>

<div class="container">
  
  <router-outlet></router-outlet>

</div>
