/*
.navbar-brand{
  font-size: 30px;
  font-family: Bangers;
  color: red;
  font-weight: bold;
}
*/
.container{
  margin: 10px;
  width: 100%;
}

@media (min-width: 1400px){
  .container{
    max-width: 90%;
  }
}

