<mat-toolbar color="primary">
  <span>
    <a routerLink="pocetna" mat-button>
      <mat-icon>local_movies</mat-icon>Cinematon</a>
  </span>

  <div>
    <a mat-button routerLink="movies/filter">
      <mat-icon>search</mat-icon>
      Pretrazi Filmove</a>
  </div>

  <div>
    <a mat-button routerLink="kontakt">
      Kontakt
    </a>
  </div>

  <div>
    <a mat-button routerLink="zanr">
      Zanrovi
    </a>
  </div>

  <div>
    <a mat-button routerLink="movies/create">
      Dodaj film
    </a>
  </div>
</mat-toolbar>
