<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3 style="font-family: Popins; font-weight: bold; font-size: 17px; text-align: center; text-transform: uppercase;">Promijena lozinke</h3>
        <form #f="ngForm"
              (ngSubmit)="changePassword()">

            <div class="form-group">
                <label for="changePassword" style="font-family: Popins; font-weight: bold; font-size: 17px; margin-top: 20px;">Unesite novu lozinku</label>
                <input type="password"
                       name="password"
                       [(ngModel)]="model.password"
                       required
                       #email="ngModel"
                       class="form-control"
                       id="changePassword"
                       placeholder="Unesite novu lozinku">
            </div>

            <button type="submit"
                    [disabled]="f.invalid"
                    mat-raised-button color="accent" style="margin-top: 15px;">Snimi </button>
        </form>
    </div>
</div>