<div *ngIf="movie">
  <h2>Odaberite sjediste za film "{{movie.naslov}}" </h2>


  <div class="screen"></div>

  <table>
    <tr *ngFor="let place of filter">
      <td [ngClass]='{red: place.zauzeto, gray: !place.zauzeto}'><button (click)="rez(place.id, place)"></button></td>
    </tr>
  </table>
  
  <div class="studentskiPopust">
    <input type="checkbox" [(ngModel)]="check_student"> 
    <p><b>Studentska (-20%) </b></p>
  </div>
</div>


<button class="zavrsi" (click)="zavrsi()" mat-flat-button color="warn">Zavrsi odabir</button>
<h2 class="placanje" >Ukupno za platiti {{cijena | number : '.2-2'}} KM</h2>
