button{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.studentskiPopust{
    position: absolute;
    top: 45%;
    left: 45%;
    display: -webkit-inline-box;
}

input{
    margin-right: 10px;
}

table{
    justify-content: center;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 40%;
    top: 25%;
    margin-top: 5px;
}

tr{
    width: 50px;
    padding: 3px;
}

.red{
    background-color: red; 
}

.gray{
    background-color: gray; 
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 20%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 37.5%;
}

.zavrsi{
    position: fixed; 
    right: 50%; 
    top: 55%;
    text-align: center;
    justify-content: center;
}


h1{
    color: black;
    font-weight: bold;
    font-family: Poppins;
    font-size: 34px;
}

h2{
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.mat-flat-button:hover{
    opacity: 0.9;

}

.placanje{
    text-align: center;
    justify-content: center;
    position: fixed; 
    bottom: 45%;
    left: 40%;
}

@media screen and (min-width: 1852px){
    .screen {
        max-width: 370px;
    }
}

@media screen and (max-width: 1572px){


    .screen {
        width: 25%;
    }

    .zavrsi{
        right: 47%; 

    }
}

@media screen and (max-width: 1060px){
    .screen {
        width: 30%;
    }

    .zavrsi{
        right: 40%; 

    }
}

@media screen and (max-width: 880px){
    .screen {
        width: 35%;
    }

    .zavrsi{
        right: 40%; 

    }
}

@media screen and (max-width: 768px){
    .screen {
        width: 40%;
    }

    .zavrsi{
        right: 35%; 

    }

    table{
        
        left: 40%;
        top: 30%;
    }

    .studentskiPopust{
        top: 47%;
        left: 45%;
        display: -webkit-inline-box;
    }
}

@media screen and (max-width: 600px){
    .screen {
        width: 50%;
        left: 30%;
    }

    .zavrsi{
        right: 40%; 
        top: 65%;

    }

    .placanje{
        right: 40%;
        top: 50%;
    }

    table{
        left: 26%;

    }

    .studentskiPopust{
        left: 40%;
    }
}

@media screen and (max-width: 412px){
    h1{
        font-size: 20px;
        text-align: center;
    }

    .screen {
        width: 82%;
        left: 10%;
    }

    table{
        align-items: center;
        justify-content: center;
        top: 40%;
        left: 15%;
    }

    .placanje{
        text-align: center;
        justify-content: center;
        position: absolute; 
        top: 70%;
        right: 35%; 
        font-size: 16px;
    }

    .zavrsi{
        position: absolute; 
        right: 35%; 
        top: 90%;
        text-align: center;
        justify-content: center;
    }

    .studentskiPopust{
        top: 65%;
        left: 35%;
    }

}