<div *ngIf="movie" style="display: flex" xmlns="">
    <div class="container" >
        <h2>{{movie.naslov}} ({{datum.getFullYear()}}) | Cijena karte: {{movie.cijena}} KM </h2>

        <mat-chip-list>
            <mat-chip
            [routerLink]="['/movies/filter']"
            [queryParams]="{zanrId:zanr.id}"
            *ngFor="let zanr of movie.zanr">
                {{zanr.naziv}}
            </mat-chip>
        </mat-chip-list><p>  {{datum.toDateString() | date: 'dd/MM/yyyy'}} </p>
        
        <p> Prosjecna ocjena: {{movie.prosjecnaOcjena | number:'.1-1'}} </p>  
        
        <p> Vasa ocjena: <app-rating (onRating)="onRating($event)" [selectedRate]="movie.korisnickaOcjena"></app-rating></p>

        <div class="media" >
            <span style="display: inline-block; margin-right: 1rem; box-shadow: 5px 5px 4px #fff;">
                <img src="{{movie.poster}}" style="width: 225px; height: 315px;"/>
            </span>

            <div class="trailer" *ngIf="movie.trailer">
                <iframe
                    [src]="trailerURL"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <div style="margin-top: 1rem; color: black;font-size: 16px;
        font-weight: bold; font-family: Poppins;">
            <h2>Opis</h2>
            <div>
                <markdown [data]="movie.opis" ngPreserveWhitespaces></markdown>
            </div>
        </div>
 
        <div style="float: right">
            <button mat-raised-button color="accent" (click)="funkcija()">Kupi kartu</button>
        </div>

    </div>
</div>

<mat-spinner *ngIf="!movie"></mat-spinner>