@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
mat-chip-list{
    display: inline-block;
    margin-bottom: 1rem;
    color: black;
}

body{
    background: rgba(121, 9, 9, 100);
}

img{
    width: 225px; 
    height: 315px;
}

mat-chip{
    cursor: pointer;
    color: black;
}

h2{
    color: black;
    font-weight: 600;
    font-family: Poppins;
    font-size: 24px;
}

p{
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;

}

button:hover{
    opacity: 0.9;
}

.media{
    display: flex; 
    margin-top: 20px;
}

iframe{
    min-height: 310px;
    min-width: 420px;
}

@media screen and (max-width: 768px){
    
    img{
        width: 150px; 
        height: 215px;
    }

    .media{
        display: block;
    }

    .trailer{
        margin-top: 20px;
    }

    iframe{
        min-height: 310px;
        min-width: 220px;
    }

    button{
        margin-right: 10px;
    }

    p{
        display: block;
        word-wrap: break-word;
    }
}