<app-generic-list [list]="movies">
  <ng-container content>
    <div class="movies-container">
      <div *ngFor="let movie of movies; let index = index" class="movie-container" >
        <a [routerLink]="'/movies/' + movie.id">
          <img [src]="movie.poster" alt="Poster" />
        </a>
        <h1>
          <a [routerLink]="'/movies/' + movie.id">{{movie.naslov}}</a>
        </h1>
        <div>
          <app-authorize-view [uloga]="'admin'">
            <ng-container authorized>
              <a [routerLink]="'/movies/edit/' + movie.id" mat-flat-button color="primary" type="button">
                Edit
              </a>
              <a mat-flat-button color="warn" type="button"
                 [swal]="{title: 'Potvrda', text: 'Da li ste sigurni da zelite izbrisati film?',
          showCancelButton: true}"
                 (confirm)="Obrisi(movie.id)"
              >
                Obrisi
              </a>
            </ng-container>
          </app-authorize-view>

        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>

